@use "sass:math";
@import "../../scss/mixins.scss";

.wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top {
  @include adaptiveValue("padding-top", 100, 40);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
  align-items: center;
  @media (max-width: 900px) {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}

.list {
  display: flex;
  align-items: center;
  line-height: 120%;
  gap: 3px;
  margin-bottom: 15px;
}

.link {
  display: inline-block;
  color: var(--color-black);
  background-color: var(--color-light);
  padding: 13px 30px;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.bottom {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 100, 40);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 676px) {
    grid-template-columns: repeat(1, 1fr);
  }

  div {
    max-height: 400px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
